---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi</h1>
			<p>I'm ZENOTME. I focus on building:</p>
			<ol>
				<li>Infrastructure software, including data systems and storage systems.</li>
				<li>High-quality open-source software.</li>
			</ol>
			<h2>Working or have worked:</h2>
			<ul>
				<li><a href="https://intl.cloud.tencent.com/zh/products/tdsqlb" target="_blank">TDSQL-B</a></li>
				<li><a href="https://github.com/apache/datasketches-rust" target="_blank">apache/datasketches-rust</a></li>
				<li><a href="https://github.com/apache/iceberg-rust" target="_blank">iceberg-rust</a></li>
				<li><a href="https://github.com/risingwavelabs/risingwave" target="_blank">risingwave</a></li>
			</ul>
			<h2>Contact</h2>
			<ul>
				<li><a href="mailto:st810918843@gmail.com">st810918843@gmail.com</a></li>
				<li><a href="mailto:810918843@qq.com">810918843@qq.com</a></li>
			</ul>
		</main>
	</body>
</html>
