---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>👋 Hi, I'm ZENOTME!</h1>
			<p>
				🎮 My interests include databases, distributed systems, data infrastructure, and operating systems...
			</p>
			<p>
				💼 I have contributed to various related projects, including:
				<ul>
					<li>TDSQL: OLTP distributed database</li>
					<li><a href="https://github.com/apache/iceberg-rust" target="_blank">iceberg-rust</a>: rust implementation of Apache Iceberg</li>
					<li><a href="https://github.com/risingwavelabs/risingwave" target="_blank">risingwave</a>: streaming database</li>
				</ul>
			</p>
			<p>📧 Feel free to reach me at: 810918843@qq.com</p>
		</main>
		<Footer />
	</body>
</html>
